
    <!-- <tasks></tasks> -->
     <!--  <login></login> -->
     <!-- header start -->
       <div *ngIf="showform">
   <header id="site-header">
      <div class="container">
        <div class="row">
          <div class="header-left col left">
            <div class="brand-logo">
              <a href="javascript:void();">
                <img alt="logo" border="0" src="img/logo.png">
              </a>
            </div>
          </div>
          <div class="header-right col left">
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
   <!-- banner section start -->
       <section class="banner-section">
      <div class="container">
        <div class="row">
          <div class="banner-left col left">
            <div class="banner-txt">
              <h1 class="text-transform">A simple to do list<br/> to keep you organized</h1>
              <ul class="banner-list">
                <li>Create unlimited tasks</li>
                <li>Keep track of complete tasks</li>
                <li>Update your tasks daily</li>
                <li>Stay organized</li>
              </ul>
              <div class="banner-img right">
                <img alt="to-do-list-img" border="0" src="img/to-do-list-img.png">
              </div>
            </div>
          </div>
          <div class="banner-right col left">

         
             <form class="register-form" (submit)="registerUser(username,firstname,lastname,email,pass)" >
              <div class="form-head">
                <h1 class="text-transform">Register Here !</h1>
                <p>Please provide us with your full details</p>
              </div>
              <div class="form-group">
                  <input type="text" [(ngModel)]="username" class="form-control"  name="username" placeholder="User Name" required="true">
              </div>
              <div class="form-group">
                  <input type="text" [(ngModel)]="firstname" class="form-control"  name="firstname" placeholder="First Name" required="">
              </div>
              <div class="form-group">
                  <input type="text" [(ngModel)]="lastname" class="form-control"  name="lastname" placeholder="Last Name" required="">
              </div>
              <div class="form-group">
                  <input type="email" [(ngModel)]="email" class="form-control"  name="email" placeholder="Email" required="true">
              </div>
              <div class="form-group">
                  <input type="password" [(ngModel)]="pass" class="form-control" name="password"  placeholder="Password" required="ture">
              </div>
              <div class="form-group checkbox-group">
                <div class="checkbox">
                  <input type="checkbox" required="ture"><label></label>
                </div>
                <span>I accept Terms & Conditions</span>
              </div>
              <div class="form-group">
                <button type="submit" class="submit-btn text-transform">Become A Member </button>
              </div>
              <p class="already_member">Already a member  <a href="javascript:void();" (click)="showLogin()" >Click here</a></p>
            </form> 
          
          </div>
        </div>
      </div>
    </section>
    <!-- banner section end -->
     <!-- start now section start -->
    <section class="start_now-section">
      <div class="container">
        <div class="row">
          <div class="start_now-left col left">
            <div class="start_now-head left">
              <h1 class="text-transform left">Start <span>Lam's To Do List</span> Now</h1>
            </div>
            <p>Test Login Username: test  Password: test123</p>
          </div>
        </div>
      </div>
    </section>
    <!-- start now section end -->
       <!-- our featured section start -->
<!--     <section class="our_featured-section">
      <div class="container">
        <div class="row">
          <div class="our_featured-head full-width left col">
            <h1 class="text-transform">Our Featured</h1>
            <span class="divider"><img alt="head-divider" border="0" src="img/head_divider.png"></span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore <br/> mque laudantium, totam rem aperiam.</p>
          </div>
          <div class="our_featured-box full-width left">
            <div class="featured-col left col">
              <div class="featured-icon">
                <img alt="gurantee-icon" border="0" src="img/gurantee-icon.png">
              </div>
              <div class="featured-content">
                <h3>Lorem guarantee</h3>
                <p>Nunc non tortor tincidunt, rutrum <br/> nibh in, gravida leo. Sed pulvinar <br/> lectus vitae sem consequat, lobortis <br/> sodales neque tincidunt.</p>
              </div>
            </div>
            <div class="featured-col left col">
              <div class="featured-icon">
                <img alt="clock-icon" border="0" src="img/clock-icon.png">
              </div>
              <div class="featured-content">
                <h3>Lorem Turnaround</h3>
                <p>Nunc non tortor tincidunt, rutrum <br/> nibh in, gravida leo. Sed pulvinar <br/> lectus vitae sem consequat, lobortis <br/> sodales neque tincidunt.</p>
              </div>
            </div>
            <div class="featured-col left col">
              <div class="featured-icon">
                <img alt="thumb-icon" border="0" src="img/thumb-icon.png">
              </div>
              <div class="featured-content">
                <h3>Lorem Prices</h3>
                <p>Nunc non tortor tincidunt, rutrum <br/> nibh in, gravida leo. Sed pulvinar <br/> lectus vitae sem consequat, lobortis <br/> sodales neque tincidunt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
   </div> 
   <div class="task-section" *ngIf="showtask">
    <div class="container">
      <div class="logout_action-btn text-right">
       <button (click)="logout()" class="logout-btn"> LogOut </button>
      </div>
      <tasks></tasks> 
    </div>
   </div>
    <div class="login-section" *ngIf="showlog" >
      <form class="well login-form" (submit)="loginUser(username,password)">
        <div class="form-head">
            <h1 class="text-transform">Login Here !</h1>
            <p>Please Log in to your Account</p>
          </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Add Username..." required="ture">    
        </div>  
        <div class="form-group">
          <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Add password..." required="ture">    
        </div> 
        <button class="submit-btn text-transform" type="submit">submit</button>
      </form>
     

   </div> 

    <!-- our featured section end -->
        <!-- footer start -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="copyright_text full-width col left">
            <p>Copyright 2017 © Created By <a href="https://github.com/lamburger">Lam's To do list</a> All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->